@tailwind base;
@tailwind components;
@tailwind utilities;
.selectedClass {
  background: white;
}
.unselectedClass {
  background-color: gray;
}
.margin1 {
  margin-left: 10px;
}

.margin2 {
  margin-left: 20px;
}

.margin3 {
  margin-left: 40px;
}
.calc-h {
  height: calc(100vh - 40px);
}

.calc-h50 {
  height: calc(100vh - 82px);
}
.calc-w {
  width: calc(100% - 44px);
}
.calc-w-compare {
  width: calc(50% - 44px);
}

.panoIcon {
  background: greenyellow;
  border-radius: 100%;
  position: absolute;
  z-index: 101;
  opacity: 0.7;
}

.panoIcon:hover {
  background: rgb(0, 217, 255);
  cursor: pointer;
  opacity: 1;
}

.userIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 1000;
}
